
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700&family=Urbanist:wght@100;200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/nexa-bold');
body{
    font-family: 'Jost', sans-serif;
font-family: 'Urbanist', sans-serif;
font-family: 'Nexa', sans-serif;

                                                
}



